<% user = User.find(@user.id)%>
<div class="user-div">
    <div class="container users">

        <div class="row-fluid">
            <div class="span4">
                <div class='well'>
                    <ul class="thumbnails">
                    <li class="span12">
                        <div id="image"></div>
                  </li>

              </ul></div>
          </div>
          <div class="span7">
          <div class='well'>
              <h4>email: <%=user.email%></h4>
              <h4>rating: <%=user.rating%></h4>
              <%= form_for(@user, :url => {:action => 'update', :id => @user.id}) do |f| %>
              <%= f.label(:age, "Age") %>
              <%= f.text_field(:age) %>
              <%= f.label(:gender, "Gender") %>
              <%= f.text_field(:gender) %>
              <%= f.label(:school, "School") %>
              <%= f.text_field(:school) %>
              <%= f.label(:about, "About") %>
              <%= f.text_area(:about) %>
              <%= submit_tag("Save") %>
              <% end %>
          </div>
          </div>
      </div>

  </div>
</div>

<script type="text/javascript">

  var url = Gravtastic('<%=user.email%>', {default: 'identicon', size: 200});
  var img = new Image();
  img.src = url;
  document.getElementById("image").appendChild(img);
</script>