<% problem = Problem.find(@game.problem_id)%>
<div class="competition-div" id="competition-div">
	<div id="editor"></div>
	<div class="well well-small" id="console">
		<strong>Console:</strong>
		<i class="icon-chevron-up pull-right" id="toggleConsole"></i>
		<div id="consoleContent" class="well well-small">
		</div>
	</div>
	<div id="sideBar">
		<div class="well well-small text-center" id="timer">
       			<strong>&nbsp;</strong>
		</div>
		<div class="tabbable well well-small">
			<strong>Description:</strong>
			<div class="well well-small" id="challengeDescription">
              <p> <%=problem.description %></p>
			</div>
		</div>
		<div class="btn-group text-center" id="submissionBtns">
			<button type="button" class="btn btn-large" id="checkBtn">Check</button>
			<button type="button" class="btn btn-large" id="submitBtn">Submit</button>
		</div>
	</div>
</div>
<script>
	disableButtons;
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/clouds");
	editor.getSession().setMode("ace/mode/java");
	editor.setValue("<%=problem.templateClass%>");

	var secondsLeft = <%=(problem.time*60 - (Time.now.to_f - @game.joinTime.to_f)).round%>;
	var randomString = '<%=	o = [('a'..'z'), ('A'..'Z'),(0..9)].map { |i| i.to_a }.flatten
				(0...20).map{ o[rand(o.length)] }.join%>';
	var activeEvent=false;
	var consoleVisible = false;

	var dotty;

	<% if @game.winner_id != -1 %>
		enableButtons;
	<%end%>
	
	function disableButtons(){
		activeEvent=true
		$('#checkBtn').addClass('disabled');
		$('#submitBtn').addClass('disabled');	
	}

	function enableButtons(){
		activeEvent=false
		$('#checkBtn').removeClass('disabled');
		$('#submitBtn').removeClass('disabled');	
	}

	function timerInterval(){
		return window.setInterval(function(){
			secondsLeft--;
			if (secondsLeft<0){
				window.clearInterval(timInt);
				disableButtons;
			}else{
				var minutes = Math.floor(secondsLeft/60);
				var seconds = ((secondsLeft%60)<10) ? '0'+secondsLeft%60 : secondsLeft%60;  
				$('#timer>strong').text(minutes+':'+seconds);
			}
		},1000);
	}
	var timInt = timerInterval();

  function getGameStatusInterval() {
    $.get('/games/status/<%= @game.id %>')
      .done(function(result) {
        if (result.status == 'finished') {
          alert("Game is over!");
          if (result.winner == 0) {
            alert("It's a draw!");
          } else if (result.winner != <%= current_user.id %>) {
            alert("The other player won!");
          } else {
            // This code should never be reached (famous last words), because
            // the player will have used the submit button!
            alert("Something bad happened! Check your internet connection!");
          }
        }
      });
  }

  var statusInterval = window.setInterval(getGameStatusInterval, 6000);

	function addDots(){
		return window.setInterval(function(){
			$('#consoleContent').append(".");
		},700);
	}

	function draw() {
		var height=$(window).height();
		var width=$(window).width();
		$('#competition-div').height(height-90);
		$('#competition-div').width(width-30);
		$('#challengeDescription').height($(window).height()-302);
		$('#sideBar').width(width/2.618-63);
		$('#submissionBtns').width(width/2.618-63);
		$('#editor').width(1.618/2.618*width-13);
		$('#test').width(1.618/2.618*width-13);
		$('#console').width(1.618/2.618*width-33);
		if (!consoleVisible){
			$('#editor').height(height-173);
			$('#console').height(20);
		}else{
			$('#editor').height(1.618/2.618*(height-120)-7);
			$('#console').height(1/2.618*(height-120)-28);
			$('#consoleContent').height(1/2.618*(height-120)-68);
		}
		editor.resize()
	};
	$(window).resize(draw);
	draw();

	function doAjax(action,isSubmission,customFunc){
		submission = {"<%= request_forgery_protection_token.to_s%>":"<%= form_authenticity_token%>",
			"session":randomString,
			"code":editor.getValue(),
			"player": <%= current_user.id%>,
			"game": <%= @game.id%>,
			"main": <%= @game.problem_id%>,
			"submitting": isSubmission}
		$.ajax({
			type:"POST",
			url:'/games/'+action,
			data: submission,
			success: function(result){
				customFunc(isSubmission,result);
			}
		});
	}
	$('#checkBtn').click(function(){
		if (!activeEvent) {compilation(false);};
	});

	$('#submitBtn').click(function(){
		if (!activeEvent) {compilation(true);};
	});

	function compilation(isSubmission){
		disableButtons();
		showConsole();
		$('#consoleContent').text("Compiling");
		dotty = addDots();
		doAjax('compile',isSubmission,function(isSubmission,result){
			window.clearInterval(dotty);
			if(result.success){
				$('#consoleContent').append(' Compilation complete in '+Math.round(result.deltaTime)+'ms<br />Executing');
				dotty = addDots();
				doAjax('execute',isSubmission,execution);
			}else{
				$('#consoleContent').append(' Compilation failed:');
				consoleWriter(result.output,'red');
				if(!isSubmission){enableButtons();};
			}
		});
	}

	function execution(isSubmission,result){
		window.clearInterval(dotty);
		consoleWriter(result.output,'black');
		if(result.error==""){
			$('#consoleContent').append('<br />Execution complete in '+Math.round(result.deltaTime)+'ms');
		}else{
			consoleWriter(result.error,'red');
		}
		if(!isSubmission){enableButtons();};
	}

	function consoleWriter(text,color){
		var spl = text.split("\n");
		for(var i=0;i<spl.length-1;i++){
			var leadingSpace="";
			var line=spl[i];
			var j = 0;
			while(line.charAt(0)=="\t"||line.charAt(0)==" "){
				if(line.charAt(0)=="\t"){
					leadingSpace+="&nbsp;&nbsp;&nbsp;&nbsp;";
				}else{
					if(j%2==0){
						leadingSpace+="&nbsp;";
					}
					j++;
				}
				line=line.slice(1);
			}
			$('#consoleContent').append('<br />'+leadingSpace+'<code style="color:'+color+'"></code>');
			$('#consoleContent>code').last().text(line);
		}
	}

	$('#toggleConsole').click(function(){
		if(consoleVisible){
			hideConsole();
		}else{
			showConsole();
		}
	});
	
	function showConsole(){
		$('#toggleConsole').removeClass('icon-chevron-up').addClass('icon-chevron-down');
		$('#consoleContent').css("display","block");
		consoleVisible=true
		draw();
	}
	function hideConsole(){
		$('#toggleConsole').removeClass('icon-chevron-down').addClass('icon-chevron-up');
		$('#consoleContent').css("display","none");
		consoleVisible=false
		draw();

	}
</script>
