<div class="admin-div">
<div class="well">
<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Time limit</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Problem</th>
      <th>Winner</th>
      <th>isSubmitted</th>
      <th>isSubmitted2</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %>
        <td><%= game.time_limit %></td>
        <td><%= game.player1_id %></td>
        <td><%= game.player2_id %></td>
        <td><%= game.problem_id %></td>
        <td><%= game.winner_id %></td>
        <td><%= game.isSubmitted %>
        <td><%= game.isSubmitted2 %>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_tag({controller: "games", action: "join"}, method: "post") do  %>
            <%= hidden_field_tag(:id, game.id) %>
            <%= submit_tag("Join") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
</div>
</div>
