<div class="admin-div">
<div class="well">
<p id="notice"><%= notice %></p>

<p>
  <strong>Time limit:</strong>
  <%= @game.time_limit %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @game.player1_id %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @game.player2_id %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @game.problem_id %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
</div>
</div>
