<div id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><a class="brand" href="/home">KodeKonkurrenz</a></li>
          <li><%= link_to "Play", '/liveGraph' %></li>
          <li><%= link_to "Practice", '/practice' %></li>
          <li><%= link_to "Discuss", '/discuss' %></li>
        </ul>
        <form class="navbar-form pull-right">
          <input type="text" class="span2" placeholder="kode@gmail.com">
          <input type="text" class="span2" placeholder="Password">
          <div class="btn-group">
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-inverse") %>
            <% else %>
              <%= link_to('Login', new_user_session_path, class: "btn btn-inverse") %>
              <%= link_to('Sign Up', new_user_registration_path, class: "btn btn-inverse") %>
            <% end %>
          </div>
        </form>
      </nav>
    </div>
  </div>
</div>
