<div id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <%= link_to "KodeKonkurrenz", main_app.root_path, :class => 'brand' %>
          <li><%= link_to "Play", main_app.liveGraph_path %></li>
          <li><%= link_to "Practice", main_app.practice_path %></li>
          <li><%= link_to "Discuss", main_app.discuss_path %></li>
          <li><%= link_to "Administrate", main_app.admin_panel_path %></li>
        </ul>
        <div class="navbar-form pull-right">
          <div class="btn-group">
            <% if user_signed_in? %>
              <%= link_to('Logout', main_app.destroy_user_session_path, :method => :delete, class: "btn btn-inverse") %>
            <% else %>
              <%= link_to('Login', main_app.new_user_session_path, class: "btn btn-inverse") %>
              <%= link_to('Sign Up', main_app.new_user_registration_path, class: "btn btn-inverse") %>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
